.container {
  /* position: absolute;
  top: 0px; */
  margin: auto;
}

.input {
  margin: auto;
  border: 1px solid black;
  height: 36px;
  width: 100%;
  box-sizing: border-box;
  font-size: 28px;
}

.bottom-input {
}

.button {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: auto;
  background-color: #4267B2;
  box-sizing: border-box;
  height: 48px;
  transition: bottom 0.3s;
}

.focused {
}